<launch>
  <arg name="rviz" default="true"/>
  <arg name="rviz_config" default="$(find systerm_launch)/rviz/default.rviz"/>
  <arg name="target_count" default="6"/>
  <arg name="interceptor_count" default="6"/>
  <arg name="global_map_topic" default="/global_map"/>

  <include file="$(find systerm_launch)/launch/obstacle_map.launch">
    <arg name="global_map_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find target_scenario_generator)/launch/target_scenario.launch"/>

  <include file="$(find mission_manager)/launch/mission_manager.launch">
    <arg name="target_count" value="$(arg target_count)"/>
    <arg name="interceptor_count" value="$(arg interceptor_count)"/>
  </include>

  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_0"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_0"/>
    <arg name="cloud_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_1"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_1"/>
    <arg name="cloud_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_2"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_2"/>
    <arg name="cloud_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_3"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_3"/>
    <arg name="cloud_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_4"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_4"/>
    <arg name="cloud_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_5"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_5"/>
    <arg name="cloud_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find interceptor_uav_sim)/launch/interceptor_uav.launch">
    <arg name="uav_ns" value="interceptor_0"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="interceptor_0"/>
    <arg name="cloud_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find interceptor_uav_sim)/launch/interceptor_uav.launch">
    <arg name="uav_ns" value="interceptor_1"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="interceptor_1"/>
    <arg name="cloud_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find interceptor_uav_sim)/launch/interceptor_uav.launch">
    <arg name="uav_ns" value="interceptor_2"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="interceptor_2"/>
    <arg name="cloud_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find interceptor_uav_sim)/launch/interceptor_uav.launch">
    <arg name="uav_ns" value="interceptor_3"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="interceptor_3"/>
    <arg name="cloud_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find interceptor_uav_sim)/launch/interceptor_uav.launch">
    <arg name="uav_ns" value="interceptor_4"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="interceptor_4"/>
    <arg name="cloud_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find interceptor_uav_sim)/launch/interceptor_uav.launch">
    <arg name="uav_ns" value="interceptor_5"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="interceptor_5"/>
    <arg name="cloud_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find radar_measurement_simulator)/launch/radar_measurement.launch"/>
  <include file="$(find robust_target_tracking)/launch/target_tracking.launch"/>
  <include file="$(find threat_assessment)/launch/threat_assessment.launch"/>
  <include file="$(find cooperative_assignment)/launch/cooperative_assignment.launch"/>
  <include file="$(find cooperative_guidance)/launch/cooperative_guidance.launch"/>

  <node if="$(arg rviz)"
        pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(arg rviz_config)"
        output="screen"/>
</launch>
