 <launch>
  <include file="$(find interceptor_uav_sim)/launch/interceptor_uav.launch">
  <arg name="uav_ns" value="interceptor_0"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="interceptor_0"/>
  </include>

  <include file="$(find interceptor_uav_sim)/launch/interceptor_uav.launch">
  <arg name="uav_ns" value="interceptor_1"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="interceptor_1"/>
  </include>

  <include file="$(find interceptor_uav_sim)/launch/interceptor_uav.launch">
  <arg name="uav_ns" value="interceptor_2"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="interceptor_2"/>
  </include>

  <include file="$(find interceptor_uav_sim)/launch/interceptor_uav.launch">
  <arg name="uav_ns" value="interceptor_3"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="interceptor_3"/>
  </include>

</launch>
