<launch>
  <include file="$(find ego_planner_bridge)/launch/target_bridge.launch">
    <arg name="uav_ns" value="target_0"/>
    <arg name="enable_odom_bridge" value="false"/>
  </include>
  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_0"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_0"/>
  </include>

  <include file="$(find ego_planner_bridge)/launch/target_bridge.launch">
    <arg name="uav_ns" value="target_1"/>
    <arg name="enable_odom_bridge" value="false"/>
  </include>
  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_1"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_1"/>
  </include>

  <include file="$(find ego_planner_bridge)/launch/target_bridge.launch">
    <arg name="uav_ns" value="target_2"/>
    <arg name="enable_odom_bridge" value="false"/>
  </include>
  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_2"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_2"/>
  </include>

  <include file="$(find ego_planner_bridge)/launch/target_bridge.launch">
    <arg name="uav_ns" value="target_3"/>
    <arg name="enable_odom_bridge" value="false"/>
  </include>
  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_3"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_3"/>
  </include>

  <include file="$(find ego_planner_bridge)/launch/target_bridge.launch">
    <arg name="uav_ns" value="target_4"/>
    <arg name="enable_odom_bridge" value="false"/>
  </include>
  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_4"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_4"/>
  </include>

  <include file="$(find ego_planner_bridge)/launch/target_bridge.launch">
    <arg name="uav_ns" value="target_5"/>
    <arg name="enable_odom_bridge" value="false"/>
  </include>
  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_5"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_5"/>
  </include>
</launch>
