<launch>
  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_0"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_0"/>
  </include>

  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_1"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_1"/>
  </include>

  <include file="$(find target_uav_sim)/launch/target_uav.launch">
    <arg name="uav_ns" value="target_2"/>
  </include>
  <include file="$(find systerm_launch)/launch/ego_planner_minimal.launch">
    <arg name="uav_ns" value="target_2"/>
  </include>

</launch>
