<launch>
  <arg name="uav_count" default="6"/>
  <arg name="target_count" default="6"/>
  <arg name="interceptor_count" default="6"/>
  <arg name="global_map_topic" default="/global_map"/>
  <arg name="rviz" default="true"/>
  <arg name="rviz_config" default="$(find system_launch)/rviz/anti_uav_default.rviz"/>

  <include file="$(find target_scenario_generator)/launch/target_scenario.launch"/>

  <include file="$(find uav_path_tracker)/launch/traget_path_trackers.launch"/>
  <include file="$(find uav_path_tracker)/launch/interceptor_path_trackers.launch"/>

  <include file="$(find uav_planner_bridge)/launch/fast_capture_single.launch">
    <arg name="uav_ns" value="target_0"/>
    <arg name="uav_id" value="0"/>
    <arg name="uav_count" value="$(arg uav_count)"/>
    <arg name="global_map_topic" value="$(arg global_map_topic)"/>
  </include>
  <include file="$(find uav_planner_bridge)/launch/fast_capture_single.launch">
    <arg name="uav_ns" value="target_1"/>
    <arg name="uav_id" value="1"/>
    <arg name="uav_count" value="$(arg uav_count)"/>
    <arg name="global_map_topic" value="$(arg global_map_topic)"/>
  </include>
  <include file="$(find uav_planner_bridge)/launch/fast_capture_single.launch">
    <arg name="uav_ns" value="target_2"/>
    <arg name="uav_id" value="2"/>
    <arg name="uav_count" value="$(arg uav_count)"/>
    <arg name="global_map_topic" value="$(arg global_map_topic)"/>
  </include>
  <include file="$(find uav_planner_bridge)/launch/fast_capture_single.launch">
    <arg name="uav_ns" value="target_3"/>
    <arg name="uav_id" value="3"/>
    <arg name="uav_count" value="$(arg uav_count)"/>
    <arg name="global_map_topic" value="$(arg global_map_topic)"/>
  </include>
  <include file="$(find uav_planner_bridge)/launch/fast_capture_single.launch">
    <arg name="uav_ns" value="target_4"/>
    <arg name="uav_id" value="4"/>
    <arg name="uav_count" value="$(arg uav_count)"/>
    <arg name="global_map_topic" value="$(arg global_map_topic)"/>
  </include>
  <include file="$(find uav_planner_bridge)/launch/fast_capture_single.launch">
    <arg name="uav_ns" value="target_5"/>
    <arg name="uav_id" value="5"/>
    <arg name="uav_count" value="$(arg uav_count)"/>
    <arg name="global_map_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find uav_planner_bridge)/launch/fast_capture_single.launch">
    <arg name="uav_ns" value="interceptor_0"/>
    <arg name="uav_id" value="6"/>
    <arg name="uav_count" value="$(arg uav_count)"/>
    <arg name="global_map_topic" value="$(arg global_map_topic)"/>
  </include>
  <include file="$(find uav_planner_bridge)/launch/fast_capture_single.launch">
    <arg name="uav_ns" value="interceptor_1"/>
    <arg name="uav_id" value="7"/>
    <arg name="uav_count" value="$(arg uav_count)"/>
    <arg name="global_map_topic" value="$(arg global_map_topic)"/>
  </include>
  <include file="$(find uav_planner_bridge)/launch/fast_capture_single.launch">
    <arg name="uav_ns" value="interceptor_2"/>
    <arg name="uav_id" value="8"/>
    <arg name="uav_count" value="$(arg uav_count)"/>
    <arg name="global_map_topic" value="$(arg global_map_topic)"/>
  </include>
  <include file="$(find uav_planner_bridge)/launch/fast_capture_single.launch">
    <arg name="uav_ns" value="interceptor_3"/>
    <arg name="uav_id" value="9"/>
    <arg name="uav_count" value="$(arg uav_count)"/>
    <arg name="global_map_topic" value="$(arg global_map_topic)"/>
  </include>
  <include file="$(find uav_planner_bridge)/launch/fast_capture_single.launch">
    <arg name="uav_ns" value="interceptor_4"/>
    <arg name="uav_id" value="10"/>
    <arg name="uav_count" value="$(arg uav_count)"/>
    <arg name="global_map_topic" value="$(arg global_map_topic)"/>
  </include>
  <include file="$(find uav_planner_bridge)/launch/fast_capture_single.launch">
    <arg name="uav_ns" value="interceptor_5"/>
    <arg name="uav_id" value="11"/>
    <arg name="uav_count" value="$(arg uav_count)"/>
    <arg name="global_map_topic" value="$(arg global_map_topic)"/>
  </include>

  <include file="$(find radar_measurement_simulator)/launch/radar_measurement.launch"/>
  <include file="$(find robust_target_tracking)/launch/target_tracking.launch"/>
  <include file="$(find threat_assessment)/launch/threat_assessment.launch"/>
  <include file="$(find cooperative_assignment)/launch/cooperative_assignment.launch"/>
  <include file="$(find cooperative_guidance)/launch/cooperative_guidance.launch"/>

  <node if="$(arg rviz)"
        pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(arg rviz_config)"
        output="screen"/>
</launch>
