<launch>
  <arg name="uav_ns" default="target_0"/>
  <arg name="config_file" default="$(find target_uav_sim)/config/target_uav.yaml"/>

  <group ns="$(arg uav_ns)">
    <node pkg="target_uav_sim"
          type="target_uav_node"
          name="target_uav_node"
          output="screen">
      <rosparam file="$(arg config_file)" command="load"/>
      <param name="pos_cmd_topic" value="/$(arg uav_ns)/planning/pos_cmd"/>
      <param name="odom_topic" value="/$(arg uav_ns)/odom"/>
      <param name="truth_topic" value="/$(arg uav_ns)/truth"/>
      <param name="target_uav/child_frame_id" value="$(arg uav_ns)/base_link"/>
      <param name="target_uav/marker_topic" value="/$(arg uav_ns)/marker"/>
      <param name="target_uav/marker_ns" value="$(arg uav_ns)"/>
    </node>

  </group>
</launch>
