<launch>
  <arg name="uav_ns" default="target_0"/>
  <arg name="world_frame" default="world"/>

  <group ns="$(arg uav_ns)">
    <node pkg="ego_planner_bridge"
          type="goal_to_waypoints_bridge_node"
          name="goal_to_waypoints_bridge"
          output="screen">
      <param name="world_frame" value="$(arg world_frame)"/>
      <param name="latch_waypoints" value="true"/>
      <remap from="~planning_goal" to="/$(arg uav_ns)/planning_goal"/>
      <remap from="~waypoints" to="/$(arg uav_ns)/waypoint_generator/waypoints"/>
    </node>

    <node pkg="ego_planner_bridge"
          type="odom_truth_bridge_node"
          name="odom_truth_bridge"
          output="screen">
      <param name="world_frame" value="$(arg world_frame)"/>
      <param name="child_frame_id" value="$(arg uav_ns)"/>
      <param name="publish_truth" value="true"/>
      <remap from="~visual_odom" to="/$(arg uav_ns)/visual_slam/odom"/>
      <remap from="~odom" to="/$(arg uav_ns)/odom"/>
      <remap from="~truth" to="/$(arg uav_ns)/truth"/>
    </node>
  </group>
</launch>