<launch>
  <arg name="config_file" default="$(find uav_path_tracker)/config/path_tracker.yaml"/>

  <group ns="target_0">
    <node pkg="uav_path_tracker" type="path_tracker_node" name="path_tracker" output="screen">
      <rosparam file="$(arg config_file)" command="load"/>
      <param name="uav_id" value="0"/>
      <param name="role" value="target"/>
      <param name="init_pos" value="[180.0, -50.0, 12.0]"/>
      <remap from="~planned_path" to="/target_0/planned_path"/>
      <remap from="~truth" to="/target_0/truth"/>
      <remap from="~odom" to="/target_0/odom"/>
      <remap from="~path" to="/target_0/path"/>
      <remap from="~trajectory" to="/target_0/trajectory"/>
      <remap from="~marker" to="/target_0/marker"/>
    </node>
  </group>

  <group ns="target_1">
    <node pkg="uav_path_tracker" type="path_tracker_node" name="path_tracker" output="screen">
      <rosparam file="$(arg config_file)" command="load"/>
      <param name="uav_id" value="1"/>
      <param name="role" value="target"/>
      <param name="init_pos" value="[185.0, -30.0, 13.0]"/>
      <remap from="~planned_path" to="/target_1/planned_path"/>
      <remap from="~truth" to="/target_1/truth"/>
      <remap from="~odom" to="/target_1/odom"/>
      <remap from="~path" to="/target_1/path"/>
      <remap from="~trajectory" to="/target_1/trajectory"/>
      <remap from="~marker" to="/target_1/marker"/>
    </node>
  </group>

  <group ns="target_2">
    <node pkg="uav_path_tracker" type="path_tracker_node" name="path_tracker" output="screen">
      <rosparam file="$(arg config_file)" command="load"/>
      <param name="uav_id" value="2"/>
      <param name="role" value="target"/>
      <param name="init_pos" value="[190.0, -10.0, 14.0]"/>
      <remap from="~planned_path" to="/target_2/planned_path"/>
      <remap from="~truth" to="/target_2/truth"/>
      <remap from="~odom" to="/target_2/odom"/>
      <remap from="~path" to="/target_2/path"/>
      <remap from="~trajectory" to="/target_2/trajectory"/>
      <remap from="~marker" to="/target_2/marker"/>
    </node>
  </group>

  <group ns="target_3">
    <node pkg="uav_path_tracker" type="path_tracker_node" name="path_tracker" output="screen">
      <rosparam file="$(arg config_file)" command="load"/>
      <param name="uav_id" value="3"/>
      <param name="role" value="target"/>
      <param name="init_pos" value="[190.0, 10.0, 14.0]"/>
      <remap from="~planned_path" to="/target_3/planned_path"/>
      <remap from="~truth" to="/target_3/truth"/>
      <remap from="~odom" to="/target_3/odom"/>
      <remap from="~path" to="/target_3/path"/>
      <remap from="~trajectory" to="/target_3/trajectory"/>
      <remap from="~marker" to="/target_3/marker"/>
    </node>
  </group>

  <group ns="target_4">
    <node pkg="uav_path_tracker" type="path_tracker_node" name="path_tracker" output="screen">
      <rosparam file="$(arg config_file)" command="load"/>
      <param name="uav_id" value="4"/>
      <param name="role" value="target"/>
      <param name="init_pos" value="[185.0, 30.0, 13.0]"/>
      <remap from="~planned_path" to="/target_4/planned_path"/>
      <remap from="~truth" to="/target_4/truth"/>
      <remap from="~odom" to="/target_4/odom"/>
      <remap from="~path" to="/target_4/path"/>
      <remap from="~trajectory" to="/target_4/trajectory"/>
      <remap from="~marker" to="/target_4/marker"/>
    </node>
  </group>

  <group ns="target_5">
    <node pkg="uav_path_tracker" type="path_tracker_node" name="path_tracker" output="screen">
      <rosparam file="$(arg config_file)" command="load"/>
      <param name="uav_id" value="5"/>
      <param name="role" value="target"/>
      <param name="init_pos" value="[180.0, 50.0, 12.0]"/>
      <remap from="~planned_path" to="/target_5/planned_path"/>
      <remap from="~truth" to="/target_5/truth"/>
      <remap from="~odom" to="/target_5/odom"/>
      <remap from="~path" to="/target_5/path"/>
      <remap from="~trajectory" to="/target_5/trajectory"/>
      <remap from="~marker" to="/target_5/marker"/>
    </node>
  </group>
</launch>