<launch>
  <arg name="config_file"
       default="$(find target_scenario_generator)/config/target_scenarios.yaml"/>

  <rosparam file="$(arg config_file)" command="load" ns="/target_motion_node"/>

  <node pkg="target_scenario_generator"
        type="target_motion_node"
        name="target_motion_node"
        output="screen"/>
</launch>